* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    height: 100%;
    position: relative;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: normal;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    color: #02012B;
    cursor: pointer;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 400ms;

}


a:hover {
    text-decoration-color: #19BCE4;
}

p {
    padding: 0;
    margin: 0;
}

ul>li {
    list-style: none;
}

button {
    background: transparent;
    border: 0;
    width: 100%;
    height: 100%;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    padding: 24px;
}

input::placeholder {
    font-size: 14px;
    line-height: 17px;
}

label {
    width: 100%;

}

footer,
header {
    position: relative;
    width: 100%;
}

.select {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    max-width: 1440px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.container--small {
    max-width: 1152px;
}

.btn {
    background: #19BCE4;
    border-radius: 6px;
    text-align: center;
    padding: 11px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    width: 100%;
    cursor: pointer;
    transition: 400ms;
}

.btn:hover {
    background: #1d3e63;
    color: aliceblue;
}

.btn--rectangle {
    border-radius: 0;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.8125rem;
    color: #222222;
}

.title--white {
    color: white;
}

.subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.6875rem;
    color: #555555;
}

.subtitle--white {
    color: white;
}

.subtitle--small {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
}

.title--small {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #222222;
}



.icon-home {
    font-size: 2.5rem;
    color: rgba(25, 188, 228, 1);
    transition: 400ms;
    cursor: pointer;
}


.icon-home:hover {
    color: #1d3e63;
}

.image {
    max-width: 100%;
}

@media (max-width:1190px) {
    html {
        font-size: 15px;
    }

    .wrapper {
        max-width: 1190px;
    }

    .container{
        padding: 0 20px;
    }
    
  

}