.places {
    width: 100%;
    margin: 120px 0;
}

.places__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
}

.places__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
   
}

.places__desc {
    position: absolute;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    width: 200px;
    background: rgba(0, 96, 119, 0.02);
    backdrop-filter: blur(29px);
    bottom: 11%;
    right: calc(50% - 100px);
    z-index: 2;
    text-align: center;
    padding: 12px 0;
}

.places__desc-subtitle{
    color: white;
    margin-top: 8px;
}

.places__card{
    position: relative;
    z-index: 1;
}

.places__card:nth-child(1)>.places__desc{
    bottom: 25%;
}
.places__card:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 1;
}

.places__title {
    text-align: center;
    margin-bottom: 16px;
}

.places__subtitle {
    text-align: center;
    margin-bottom: 40px;
}