.subscribe {
    width: 100%;
    background: #F8FDFE;
    padding-bottom: 120px;
}

.subscribe__form {
    width: 100%;
    background: #19BCE4;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 48px 0 52px;
}

.form__email {
    background: #FFFFFF;
    border-radius: 6px;
    width: 720px;
    position: relative;
}

.subscribe__title{
    margin-bottom: 40px;
}

.form__button{
    width:120px ;
    position: absolute;
    top: 9px;
    right: 8px;
}